@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

:root {
  --display-font: "Dela Gothic One", sans-serif;
  --app-font: "Poppins", sans-serif;

  --turquoise: #9ef3ca;
  --blue: #1544eb;

  --pink: #fcb8ad;
  --red: #ff2e17;

  --lavender: #dac9ff;
  --indigo: #5200ff;

  --yellow: #f2d022;
  --black: #111111;
  --grey: #efefef;

  --app-bg: var(--yellow);
  --app-color: var(--black);

  --item-bg: var(--grey);
  --item-font-color: var(--app-color);

  --max-width: 1400px;

  --border-radius: 10px;
  --item-pad: 0.5rem;

  --app-stroke-width: 2px;

  --item-image-size: 280px;
}

/* Global settings */
body,
header,
nav,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
button,
svg {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--app-color);
  font-family: var(--display-font);
}

h4,
h5,
h5,
p,
a,
li {
  color: var(--app-color);
  font-family: var(--app-font);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  background-color: var(--app-bg);
}

main {
  background-color: white;
  margin-top: 5rem;
  min-height: 100svh;
}

.app-page {
  max-width: var(--max-width);
  margin: 0 auto;
}

.back-button {
  max-width: 100px;
  display: grid;
  grid-template-columns: 30px auto;
  gap: 0.5rem;
  height: 30px;
}

.rev {
  rotate: 180deg;
}

@media (min-width: 375px) {
  body {
    --item-image-size: 350px;
  }
}

@media (min-width: 425px) {
  body {
    --item-image-size: 380px;
  }
}

@media (min-width: 768px) {
  body {
    --item-pad: 1rem;
  }
}

/* Header */

header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  position: fixed;
  background-color: var(--app-bg);
}

nav {
  max-width: var(--max-width);
  margin: 0 auto;
}

.header-buttons-container {
  display: flex;
  justify-content: space-between;
}

.close-button,
.open-button {
  cursor: pointer;
}

.visible {
  display: block;
}

.no-visible {
  display: none;
}

.nav-buttons-container {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  transition: all ease-in-out 150ms;
}

.menu-open {
  height: 100svh;
}

.menu-close {
  height: 0;
  overflow: hidden;
}

.nav-button {
  border: calc(var(--app-stroke-width) / 2) var(--app-color) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.nav-button:hover {
  transform: scaleY(1.05);
}

/* SVG */

.logo,
.burger,
.cross,
.arrow {
  width: 30px;
}

.logo-rect-1 {
  stroke-miterlimit: 10;
}

.logo-rect-1,
.logo-rect {
  fill: none;
  stroke: var(--app-color);
  stroke-width: var(--app-stroke-width);
}

.logo-rect {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cross-rect {
  fill: none;
  stroke: var(--app-color);
  stroke-miterlimit: 10;
  stroke-width: var(--app-stroke-width);
}

.burger-rect {
  fill: none;
  stroke: var(--app-color);
  stroke-miterlimit: 10;
  stroke-width: var(--app-stroke-width);
}

.arrow-detail {
  fill: none;
  stroke: var(--app-color);
  stroke-miterlimit: 10;
  stroke-width: var(--app-stroke-width);
}
/* Portfolio */

.color-set-1 {
  --item-bg: var(--turquoise);
  /* --item-font-color: var(--blue); */
}

.color-set-2 {
  --item-bg: var(--lavender);
  /* --item-font-color: var(--indigo); */
}

.color-set-3 {
  --item-bg: var(--pink);
  /* --item-font-color: var(--red); */
}

.portfolio-item-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  gap: 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* .portfolio-item-container::-webkit-scrollbar-thumb{
    background: none;
} */

.portfolio-item {
  position: relative;
  background-color: var(--item-bg);
  border-radius: var(--border-radius);
  padding: var(--item-pad);
  transition: all ease-in-out 150ms;
}

.portfolio-item:hover {
  transform: scale(1.01);
}

.item-top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item-top-container h3 {
  color: var(--item-font-color);
}

.item-image-container {
  overflow: hidden;
  width: var(--item-image-size);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.item-image-container:hover {
  border-radius: 0;
}

.item-image {
  height: var(--item-image-size);
}

.item-top-container h3 {
  padding-bottom: var(--item-pad);
}

.item-middle-container {
  display: grid;
  grid-template-rows: auto auto;
}

.item-middle-container h1,
p {
  color: var(--item-font-color);
  padding-bottom: calc(var(--item-pad) * 2);
}

.item-bottom-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--item-pad);
}

.item-bottom-container {
  color: var(--item-font-color);
}

/* Home */
