@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

:root {
  --display-font: "Dela Gothic One", sans-serif;
  --app-font: "Poppins", sans-serif;

  --turquoise: #9ef3ca;
  --blue: #1544eb;

  --pink: #fcb8ad;
  --red: #ff2e17;

  --lavender: #dac9ff;
  --indigo: #5200ff;

  --lilac: #b7aef1;

  --yellow: #f2d022;

  --silver-gray: #f0f0f2;

  --sliver: #f2eeeb;

  --black: #111111;
  --grey: #efefef;
  --light-purple: #a0b0d9;

  --purple-1: #dbd8de;
  --purple-2: #b7b1bd;
  --purple-3: #938a9c;

  /* GRADIENT COLOR SETTINGS */

  --gradient-lavender-1: #aeb1ee;
  --gradient-lavender-2: #b7b9e9;

  --gradient-yellow-1: #fffdc1;

  --gradient-peach-1: #ff906f;

  --gradient-purple-1: #9b74ff;

  --gradient-turquoise-1: #94ecec;

  --gradient-lavender-3: #eee7f9;

  --gradient-lavender-4: #ece5ff;

  --gradient-1-bg: var(--gradient-lavender-1);
  --gradient-1: linear-gradient(
    45deg,
    /* var(--gradient-lavender-1) 0%,
    var(--gradient-lavender-2) 18%, */
      var(--gradient-yellow-1) 45%,
    var(--gradient-peach-1) 48%,
    var(--gradient-purple-1) 50%,
    var(--gradient-turquoise-1) 53%,
    var(--gradient-yellow-1) 57%,
    var(--gradient-lavender-3) 76%,
    var(--gradient-lavender-4) 100%
  );

  --app-bg: var(--lilac);
  --app-color: var(--black);

  --page-bg: var(--grey);

  --item-bg: var(--grey);
  --item-font-color: var(--app-color);

  --max-width: 2800px;

  --app-pad: 0.2rem;

  --app-gap: 0.5rem;

  --border-radius: 10px;
  --item-pad: calc(var(--app-pad) * 2);

  --app-stroke-width: 1px;

  --svg-stroke-width: var(--app-stroke-width);

  --item-image-size: 300px;
  --item-height: 490px;
}

/* Global settings */
body,
header,
nav,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
button,
select,
option,
input,
svg {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 32px;
}

h1,
h2,
h3 {
  text-align: left;
  color: var(--app-color);
  font-family: var(--display-font);
}

h4,
h5,
h5,
p,
a,
li {
  color: var(--app-color);
  font-family: var(--app-font);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

select::before,
select::after {
  box-sizing: border-box;
}

select {
  text-align: center;
  font-weight: 900;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

input {
  background: none;
  border: none;
}

input::placeholder {
  font-family: var(--app-font);
  text-align: center;
  color: var(--app-color);
}

body {
  background-color: var(--app-bg);
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  margin-top: 2.3rem;
  scroll-timeline: --squareTimeline y;
}

.app-page-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.app-hero-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
}

.app-hero-item {
  max-width: var(--max-width);
}

.app-container {
  position: relative;
  margin: 0 var(--app-pad);
}

.gradient-bg {
  padding-bottom: var(--app-pad);
  background-size: 400%;
  background-position: left;

  background-image: var(--gradient-1);

  background: var(--sliver);
  /* overflow-y: scroll; */

  /* animation: scroll-animation infinite 10s ease-in-out; */

  /* animation: scroll-animation 5s ease-in-out; */

  /* animation-timeline: --squareTimeline; */
  /* animation-duration: 1ms; */

  /* animation: scroll-animation linear;
  animation-timeline: scroll(); */
}

.animation-bg {
  animation: scroll-animation 5s ease-in-out;
}

@keyframes scroll-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* @keyframes scroll-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
} */

.hero-title {
  font-size: 3rem;
  line-height: 3.5rem;
  word-wrap: break-word;
}

.portfolio-subject {
  font-size: 1rem;
}

@media (min-width: 512px) {
  .hero-title {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .portfolio-subject {
    font-size: 4rem;
  }
}

@media (min-width: 1210px) {
  .hero-title {
    font-size: 7rem;
    line-height: 6.5rem;
  }

  .portfolio-subject {
    font-size: 6rem;
  }
}

.app-header {
  padding-top: calc(var(--app-pad) * 2);
  padding-bottom: calc(var(--app-pad) * 3);
}

.grid-header {
  padding-bottom: calc(var(--app-pad) * 3);
}

.back-button,
.to-button {
  position: relative;
  display: grid;
  grid-template-columns: 30px auto;
  gap: var(--app-gap);
  height: 30px;
  transition: transform ease-in-out 150ms;
  cursor: pointer;
}

.back-button {
  padding-top: calc(var(--app-pad) * 2);
  max-width: 100px;
}

.to-button {
  max-width: 230px;
}

.back-button:hover,
.to-button:hover {
  transform: scale(1.05);
}

.back-button p,
.to-button p {
  padding-top: 2px;
}

/* .to-button p {
  font-size: 1.5rem;
} */

.rev {
  rotate: 180deg;
}

.link-button,
.nav-button {
  border: var(--app-stroke-width) var(--app-color) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 150ms;
  border-radius: 100px;
}

.nav-button {
  background-color: var(--app-bg);
}

.link-button {
  height: 150px;
}

@media (min-width: 425px) {
  .link-button {
    height: 180px;
  }
}

/* .nav-button {
  max-height: 150px;
} */

.link-button:hover,
.nav-button:hover {
  transform: scaleY(1.05);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (min-width: 768px) {
  body {
    --app-pad: 0.5rem;
  }
}

/* SVG */

.arrow {
  position: relative;
}

.logo,
.burger,
.cross,
.search-icon,
.arrow {
  width: 30px;
}

.logo-alt {
  padding-top: 1px;
  height: 30px;
}

.logo:active,
.burger:active,
.cross:active {
  border: var(--app-color) var(--app-stroke-width) solid;
}

.search-icon-detail,
.logo-detail,
.burger-detail,
.cross-detail {
  fill: none;
  stroke: var(--app-color);
  stroke-width: var(--svg-stroke-width);
}

.arrow-detail {
  fill: none;
  stroke: var(--app-color);
  stroke-width: var(--svg-stroke-width);
}

.logo-alt-detail {
  fill: var(--app-bg);
  stroke: var(--app-color);
  stroke-width: var(--svg-stroke-width);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.logo-alt-detail-2 {
  fill: none;
  stroke: var(--app-color);
  stroke-width: var(--svg-stroke-width);
  stroke-linecap: round;
  stroke-linejoin: round;
}

@media (prefers-reduced-motion: no-preference) {
  .arrow {
    animation: arrow-slide-in linear;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: 0px;
  }
}

@keyframes arrow-slide-in {
  from {
    left: -500px;
  }

  to {
    left: 0;
  }
}

/* Header */

header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  position: fixed;
  background-color: var(--app-bg);
  border-bottom: var(--app-color) var(--app-stroke-width) solid;
}

nav {
  padding-top: 2px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.header-buttons-container {
  position: relative;
  z-index: 1000;
  margin: 0 calc(var(--app-pad) + 5px) 0 var(--app-pad);
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.header-buttons-container a {
  padding: 0;
  margin: 0;
}

.logo-link p {
  appearance: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.close-button,
.open-button {
  cursor: pointer;
}

.visible {
  display: block;
}

.no-visible {
  display: none;
}

.nav-container {
  margin: 0 var(--app-pad);
  transition: all ease-in-out 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-buttons-container {
  width: 100%;
  display: grid;
  gap: calc(var(--app-gap) / 2);
  min-height: 80dvh;
  padding-bottom: 5rem;
}

.menu-open {
  height: 100dvh;
}

.menu-close {
  height: 0;
  overflow: hidden;
}

.logo:active,
.close-button:active,
.open-button:active,
.back-button:active,
.to-button:active,
.link-button:active,
.nav-button:active {
  transform: scale(0.95);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.3) 0px 0px 0px 0px,
    rgba(10, 37, 64, 0.35) 0px 0px 0px 0px inset;
}

/* Portfolio */

.portfolio-top-wrapper {
  border: var(--app-stroke-width) var(--app-color) solid;
  padding: var(--app-pad);
  margin-bottom: var(--app-pad);
}

.portfolio-top-wrapper {
  display: grid;
  height: 80vh;
  max-height: 600px;
  min-height: 350px;
  /* overflow: auto; */
}

.portfolio-top-wrapper .hero-title {
  margin-top: auto;
  padding-bottom: calc(var(--app-pad) * 3);
}

.portfolio-page-top {
  display: flex;
  justify-content: space-between;
}

.portfolio-page-top > :last-child > :first-child,
.portfolio-page-top > :last-child > :last-child {
  padding: 0;
  margin: 0;
  text-align: right;
}

.portfolio-hero-container {
  padding-top: var(--app-pad);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  /* filter: invert(1);
  mix-blend-mode: difference; */
}

@media (min-width: 1024px) {
  .portfolio-hero-container {
    min-height: 80vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

.portfolio-hero-item-1,
.portfolio-hero-item-2 {
  border: var(--app-stroke-width) var(--app-color) solid;
}

.portfolio-hero-item-1 {
  padding: var(--app-pad);
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: none;
}

@media (max-width: 424px) {
  .portfolio-hero-item-1 > :last-child h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.portfolio-presentation {
  display: flex;
  justify-content: space-between;
}

.portfolio-hero-item-2 li h3 {
  line-height: 1.4rem;
}

.portfolio-presentation > :last-child {
  max-width: 200px;
}

.portfolio-presentation > :last-child p {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

.portfolio-hero-container > :last-child {
  padding: var(--app-pad);
}

.portfolio-desc-links-wrapper {
  position: relative;
  display: grid;
  margin: 0 var(--app-pad);
  margin-top: var(--app-pad);
  gap: var(--app-pad);
}

@media (min-width: 1024px) {
  .portfolio-desc-links-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.portfolio-middle-wrapper,
.portfolio-bottom-wrapper {
  padding: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
}

@media (max-width: 1023px) {
  .portfolio-hero-item-1 {
    min-height: 80vh;
    border-right: var(--app-color) var(--app-stroke-width) solid;
    border-bottom: none;
  }
}

.color-set-1 {
  /* --item-bg: var(--turquoise);
  --page-bg: var(--turquoise); */
  --item-bg: var(--purple-1);
  --page-bg: var(--purple-1);
}

.color-set-2 {
  /* --item-bg: var(--lavender);
  --page-bg: var(--lavender); */
  --item-bg: var(--purple-2);
  --page-bg: var(--purple-2);
}

.color-set-3 {
  /* --item-bg: var(--gradient-yellow-1);
  --page-bg: var(--gradient-yellow-1); */
  --item-bg: var(--purple-3);
  --page-bg: var(--purple-3);
}

.portfolio-item-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  gap: var(--app-gap);
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: var(--app-pad);
  /* height: 80vh;
  max-height: 600px;
  min-height: 350px; */
  /* overflow: auto; */

  height: 550px;
}

.portfolio-item-container::-webkit-scrollbar {
  display: none;
}

.portfolio-item {
  border: var(--app-stroke-width) var(--app-color) solid;
  position: relative;
  background-color: var(--item-bg);
  border-radius: var(--border-radius);
  padding: var(--item-pad);
  transition: all ease-in-out 150ms;
  min-height: var(--item-height);
  width: 300px;
}

/* @media (max-height: 666px) {
  .portfolio-item {
    transform: rotateZ(90deg);
    min-height: 100%;
  }
} */

.portfolio-item:hover {
  transform: scale(1.01);
  /* background: rgba(255, 255, 255, 0.3); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.item-top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: calc(var(--app-pad) * 2);
}

.item-top-container h3 {
  color: var(--item-font-color);
}

.item-image-container {
  overflow: hidden;
  width: var(--item-image-size);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.item-image-container:hover {
  border-radius: 0;
}

.item-image {
  height: var(--item-image-size);
}

.item-middle-container {
  padding-block: calc(var(--app-pad) * 3);
  display: grid;
  grid-template-rows: auto auto;
}

.item-middle-container h1,
p {
  color: var(--item-font-color);
  padding-bottom: calc(var(--item-pad) * 2);
}

.item-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 800;
  padding: var(--item-pad) var(--item-pad) calc(var(--item-pad) * 3)
    var(--item-pad);
}

.item-bottom-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--item-pad) var(--item-pad) calc(var(--item-pad) * 3)
    var(--item-pad);
}

@media (min-height: 665px) {
  .item-bottom-container {
  }

  .item-button-container {
  }
}

/* Portfolio Page */

.projects-page-bottom-container {
  /* filter: invert(1);
  mix-blend-mode: difference; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.projects-page-bottom-container-2 {
  border: var(--app-color) var(--app-stroke-width) solid;
  padding: var(--app-pad);
  /* filter: invert(1);
  mix-blend-mode: difference; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  transform-origin: center;
}

@media (max-width: 740px) {
  .projects-page-bottom-container-2 {
    grid-template-columns: 1fr 1fr;
    transform-origin: center;
  }
}

@media (max-width: 540px) {
  .projects-page-bottom-container-2 {
    grid-template-columns: 1fr;
    transform-origin: center;
  }
}

@media (min-width: 600px) {
  .projects-page-bottom-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.projects-page-bottom-container > :first-child {
  padding: var(--app-pad);
  border: var(--app-color) var(--app-stroke-width) solid;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.projects-page-bottom-container > :last-child {
  border: var(--app-color) var(--app-stroke-width) solid;
  padding: var(--app-pad);
}

@media (max-width: 599px) {
  .projects-page-bottom-container > :first-child {
    border-right: var(--app-color) var(--app-stroke-width) solid;
    border-bottom: none;
  }
}

.projects-page-bottom-container > :last-child p {
  padding: 0;
}

.portfolio-page {
  background-color: var(--item-bg);
  padding-top: var(--app-pad);
  padding-bottom: var(--app-pad);
}

.gallery-container {
  /* display: grid;
  grid-auto-flow: column;
  overflow-x: scroll; */
  /* gap: var(--app-gap); */
  /* gap: calc(var(--app-pad) * 10);
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: var(--app-pad); */
  /* background-color: var(--app-color); */
  /* height: 100vh;
  max-height: 600px; */
  background-color: var(--app-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: calc(var(--app-pad) * 10); */
  gap: var(--app-pad);
}

.gallery-container > :first-child {
  /* margin-top: calc(var(--app-pad) * 10); */
  margin-top: var(--app-pad);
}

.gallery-container > :last-child {
  /* margin-bottom: calc(var(--app-pad) * 10); */
  margin-bottom: var(--app-pad);
}

.gallery-image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: var(--app-stroke-width) var(--app-color) solid; */
  /* margin: var(--app-pad); */
  /* width: 600px; */
  background-color: #ffffff;
}

/* @media (min-width: 1024px) {
  .gallery-image {
    width: 800px;
  }
}

@media (min-width: 1210px) {
  .gallery-image {
    width: 1000px;
  }
} */

.link-button-container {
  display: grid;
  gap: var(--app-pad);
}

/* About */

.about-hero-container {
  /* filter: invert(1);
  mix-blend-mode: difference; */
  padding-top: var(--app-pad);
  display: grid;
  height: 80vh;
  max-height: 600px;
  min-height: 350px;
  /*  overflow: hidden; */
  /* grid-template-columns: auto;
  grid-template-rows: auto 1fr; */

  /* overflow: auto; */
}

.about-hero-item-1,
.about-hero-container > :last-child {
  border: var(--app-stroke-width) var(--app-color) solid;
}

.about-hero-item-1 {
  padding: var(--app-pad);
  display: grid;
}

.about-hero-item-1 h1 {
  margin-top: auto;
  padding-bottom: calc(var(--app-pad) * 3);
}

@media (max-width: 424px) {
  .about-hero-item-1 h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.about-hero-item-1 > :last-child {
  display: none;
}

.about-presentation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-presentation > :last-child {
  max-width: 150px;
}

.about-presentation > :last-child p {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

/* @media (max-width: 1023px) {
  .about-hero-item-1 {
    min-height: 80vh;
    border-bottom: none;
  }
} */

/* @media (min-width: 1024px) {
  .about-hero-container {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .about-hero-container > :first-child {
    border-right: none;
  }
} */

.about-me-container {
  border: var(--app-color) var(--app-stroke-width) solid;
  margin-top: var(--app-pad);
  /* min-height: 80vh; */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  /* gap: calc(var(--app-pad) * 2); */
  /* filter: invert(1);
  mix-blend-mode: difference; */
  /* padding-inline: var(--app-pad); */
}

@media (min-width: 768px) {
  .about-me-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.about-me-item-2 {
  border-top: var(--app-color) var(--app-stroke-width) solid;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .about-me-item-2 {
    border-top: none;
    border-left: var(--app-color) var(--app-stroke-width) solid;
  }
}
.about-me-item-2 p {
  max-width: 400px;
}

.about-me-presentation {
  padding: var(--app-pad);
}

.about-me-presentation h1 {
  padding-bottom: var(--app-pad);
}

@media (max-width: 767px) {
  .about-me-item-1 h1 {
    padding-bottom: var(--app-pad);
    margin-top: auto;
  }

  .about-me-item-2 p {
    max-width: 362px;
    margin-bottom: auto;
  }
}

.education-container {
  /* filter: invert(1);
  mix-blend-mode: difference; */
  padding-block: var(--app-pad);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media (min-width: 836px) {
  .education-container {
    /* min-height: 80vh; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.about-page-bottom-container {
  border: var(--app-color) var(--app-stroke-width) solid;
  padding: var(--app-pad);
}

.about-page-bottom-container > :last-child {
  display: grid;
  gap: var(--app-gap);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (min-width: 425px) {
  .about-page-bottom-container > :last-child {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

/* Education items */

.education-item {
  min-height: 40vh;
  display: grid;
  padding: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
}

.education-item:first-of-type {
  background-color: #111111;
}

.education-item:first-of-type h1,
.education-item:first-of-type p {
  color: var(--sliver);
}

.education-item:first-of-type h1 {
  margin-top: auto;
}

.education-middle-container {
}

.education-bottom-container {
  margin-top: auto;
}

.education-bottom-container > :first-child {
  font-weight: 900;
}

@media (max-width: 835px) {
  .education-item {
    border-top: none;
  }
}

@media (min-width: 836px) {
  .education-item {
    border-right: none;
    border-bottom: none;
  }

  .education-item:nth-child(2),
  .education-item:last-of-type {
    border-right: var(--app-stroke-width) var(--app-color) solid;
  }

  .education-item:nth-child(3),
  .education-item:last-of-type {
    border-bottom: var(--app-stroke-width) var(--app-color) solid;
  }
}

/* Home */

.home-hero-container {
  padding-top: var(--app-pad);
  padding-bottom: var(--app-pad);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  /* filter: invert(1);
  mix-blend-mode: difference; */
}

.hero-item-1,
.hero-item-2 {
  border: var(--app-stroke-width) var(--app-color) solid;
}

.hero-item-1 {
  padding: var(--app-pad);
  display: grid;
  grid-template-rows: auto auto auto 4fr;
}

.hero-item-1 div {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: auto;
  width: 100%;
}

@media (min-width: 425px) {
  .hero-item-1 div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 767px) {
  .hero-item-1 div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: auto;
    width: 100%;
  }
}

.hero-item-1-text {
  max-width: 700px;
}

.hero-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-image-container {
  max-width: 450px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .hero-item-1 {
    min-height: 50vh;
    border-bottom: none;
  }
}

@media (min-width: 768px) {
  .home-hero-container {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding-top: var(--app-pad);
  }

  .hero-item-1 {
    border-right: none;
  }
}

.home-item-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  gap: var(--app-gap);
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: var(--app-pad) 0;
  /* height: 80vh;
  max-height: 600px;
  min-height: 350px; */
  /* overflow: auto; */

  height: 550px;
}

.home-item-container::-webkit-scrollbar {
  display: none;
}

.home-item-container > :first-child {
  margin-left: var(--app-pad);
}

.home-item-container > :last-child {
  margin-right: var(--app-pad);
}

.present-portfolio-item {
  filter: invert(1);
  mix-blend-mode: difference;
  position: relative;
  background-color: var(--app-color);
  border-radius: var(--border-radius);
  padding: var(--item-pad);
  transition: all ease-in-out 150ms;
  min-height: var(--item-height);
  width: 300px;
}

.present-portfolio-item .item-top-container p,
.present-portfolio-item .item-top-container h3,
.present-portfolio-item .item-middle-container h1,
.present-portfolio-item .item-button-container .to-button p,
.present-portfolio-item .item-bottom-container h3 {
  color: #ffffff;
}

.present-portfolio-item .item-button-container .to-button .arrow-detail {
  stroke: #ffffff;
}

.about-section {
  padding: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
  border-radius: var(--border-radius);
  filter: invert(1);
  mix-blend-mode: difference;
  max-width: 300px;
  min-width: 300px;
  /* min-width: 900px; */
}

.about-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 556px;
}

.about-section div {
  display: flex;
  justify-content: space-between;
}

.home-big-logo-wrapper {
  width: 300px;
}

.illustration-section {
  border: var(--app-stroke-width) var(--app-color) solid;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 300px; */
  width: 900px;
  border-radius: var(--border-radius);
  overflow: hidden;
  filter: invert(1);
  mix-blend-mode: difference;
}

@media (min-width: 425px) {
  .about-section {
    max-width: 600px;
    min-width: 600px;
  }
  .home-big-logo-wrapper {
    width: 600px;
  }
  /* .illustration-section {
    width: 600px;
  } */
}

@media (min-width: 768px) {
  .about-section {
    min-width: 900px;
  }
  .home-big-logo-wrapper {
    min-width: 900px;
  }
  /* .illustration-section {
    width: 900px;
  } */
}

.illustration-section .to-button {
  border: var(--app-stroke-width) var(--app-color) solid;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--app-pad);
  background-color: #ffffff;
  border-radius: var(--border-radius);
}

.skill-sets {
  padding-block: calc(var(--app-pad) * 10);
}

.projects-header {
  padding-top: calc(var(--app-pad) * 10);
  padding-bottom: calc(var(--app-pad) * 10);
}

/* Technology */

.technology-hero-container {
  /* filter: invert(1);
  mix-blend-mode: difference; */
  margin-top: calc(var(--app-pad) * 5.55);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  border: var(--app-stroke-width) var(--app-color) solid;
}

@media (min-width: 1024px) {
  .technology-hero-container {
    min-height: 80vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
}

.technology-hero-item-1 {
  padding: var(--app-pad);
  display: grid;
}

.technology-hero-item-1 > :last-child {
  display: none;
}

.technology-hero-item-1 h1 {
  margin-top: auto;
}

@media (max-width: 424px) {
  .technology-hero-item-1 h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.technology-hero-item-2 {
  display: grid;
  grid-template-rows: auto auto auto;
  border-left: var(--app-stroke-width) var(--app-color) solid;
}

.technology-hero-item-2 > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--app-pad);
}

@media (max-width: 1023px) {
  .technology-hero-item-1 {
    min-height: 80vh;
  }
  .technology-hero-item-2 {
    min-height: 40vh;
    border-left: none;
    border-top: var(--app-stroke-width) var(--app-color) solid;
  }
}

.technology-hero-item-2 h3 {
  padding: var(--app-pad);
}

.technology-select-container {
  font-family: var(--app-font);
  font-weight: 900;
  width: 92%;
  border: var(--app-color) var(--app-stroke-width) solid;
  border-radius: 100px;
  line-height: 1.1;
  background-color: none;
  /* display: grid;
  grid-template-areas: "select";
  align-items: center; */
  position: relative;
  padding-right: calc(var(--app-pad) * 2);
}

/* .technology-select-container::after {
  content: "^";
  width: 0.8em;
  height: 0.5em;
  rotate: 180deg;
  padding-bottom: 10px;
  /* background-color: var(--app-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%); */
/*
} */

/* select,
.technology-select-container::after {
  grid-area: select;
} */

/* .technology-select-container::after {
  justify-self: end;
} */

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: calc(var(--app-stroke-width) * 2) solid var(--gradient-purple-1);
  border-radius: inherit;
}

.technology-presentation {
  display: flex;
  justify-content: space-between;
}

.technology-presentation > :last-child p {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

.technology-select {
  height: 80px;
  cursor: pointer;
  padding-block: calc(var(--app-pad) * 2);
  padding-inline: var(--app-pad);
}

select > option {
  border: var(--app-color) var(--app-stroke-width) solid;
  background-color: var(--app-bg);
  font-family: var(--app-font);
}

select > option:focus {
  background-color: var(--app-color);
}

.technology-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  gap: var(--app-gap);
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-block: var(--app-pad);
  padding-inline: var(--app-pad);
}

.technology-container::-webkit-scrollbar {
  display: none;
}

.technology-item {
  border-radius: var(--border-radius);
  min-width: 300px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: var(--app-pad);
  padding: calc(var(--app-pad) * 2);
  background-color: var(--item-bg);
}

@media (min-width: 425px) {
  .technology-item {
    min-width: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.technology-item-top {
}

.technology-item-bottom {
}

.technology-category {
  font-weight: 900;
}

.technology-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: var(--app-color) var(--app-stroke-width) solid;
}

.technology-logo {
  height: 80%;
}

.technology-header {
  padding-bottom: calc(var(--app-pad) * 2);
}

.technology-description {
  margin-bottom: auto;
}

/* Illustrations */

.illustrations-hero-container {
  padding-top: var(--app-pad);
  padding-bottom: var(--app-pad);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  min-height: 80vh;
}

@media (min-width: 968px) {
  .illustrations-hero-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

.illustrations-hero-item-1,
.illustrations-hero-item-2 {
  padding: var(--app-pad);
  border: solid var(--app-color) var(--app-stroke-width);
}

.illustrations-hero-item-1 {
  display: grid;
  border-right: none;
}

.illustrations-hero-item-1 > :last-child {
  display: none;
}

.illustrations-hero-item-1 h1 {
  margin-top: auto;
}

/* @media (max-width: 396px) {
  .illustrations-hero-item-1 h1 {
    font-size: 2rem;
  }
} */

.illustrations-presentation {
  display: flex;
  justify-content: space-between;
}

.illustrations-presentation > :last-child {
  max-width: 250px;
}

.illustrations-presentation > :last-child p {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

.illustrations-hero-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 967px) {
  .illustrations-hero-item-1 {
    min-height: 80vh;
    border-bottom: none;
    border-right: solid var(--app-color) var(--app-stroke-width);
  }
}

.illustrations-page-bottom-container {
  margin-top: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (min-width: 425px) {
  .illustrations-page-bottom-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.illustrations-page-bottom-container > :first-child {
  padding: var(--app-pad);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--app-stroke-width) var(--app-color) solid;
  font-weight: 900;
}

.illustrations-page-bottom-container > :last-child {
  margin: var(--app-pad);
}

@media (max-width: 424px) {
  .illustrations-page-bottom-container > :first-child {
    border-right: none;
    border-bottom: var(--app-color) var(--app-stroke-width) solid;
  }
}

/* Contact */

.contact-hero-container {
  padding-top: var(--app-pad);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  /* filter: invert(1);
  mix-blend-mode: difference; */
}

@media (min-width: 632px) {
  .contact-hero-container {
    min-height: 80vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

.contact-hero-item-1,
.contact-hero-item-2 {
  padding: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
}

.contact-hero-item-1 {
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: none;
}

.contact-presentation {
  display: flex;
  justify-content: space-between;
}

.contact-presentation > :last-child {
  max-width: 150px;
}

.contact-presentation > :last-child p {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

@media (max-width: 631px) {
  .contact-hero-item-1 {
    min-height: 80vh;
    border-bottom: none;
    border-right: var(--app-stroke-width) var(--app-color) solid;
  }
}

.contact-hero-container > :last-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.contact-hero-container > :last-child > * {
  width: 100%;
}

/* Footer */

footer {
  border-top: var(--app-color) var(--app-stroke-width) solid;
}

.contact-container {
  padding: var(--app-pad);
  display: grid;
  gap: calc(var(--app-pad) * 10);
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}

@media (min-width: 500px) {
  .contact-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

@media (min-width: 1170px) {
  .contact-container {
    display: flex;
    justify-content: space-between;
  }
}

.year-title {
  padding-top: 1rem;
  position: absolute;
  right: 0;
  /* margin: var(--app-pad); */
}

.year-title span {
  font-weight: 900;
}

/* 404 */

.notfound-hero-container {
  padding: var(--app-pad);
  padding: var(--app-pad);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.notfound-hero-container div h1 {
  text-align: center;
}

.notfound-hero-container > :last-child {
  width: 100%;
  max-width: 450px;
}

/* SEARCH */

.search-container {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: var(--app-color) var(--app-stroke-width) solid;
}

.search-container::-webkit-scrollbar {
  display: none;
}

.search-input {
  padding-block: calc(var(--app-pad) * 2);
  padding-left: var(--app-pad);
  width: 100%;
  border-bottom: var(--app-color) var(--app-stroke-width) solid;
}

.search-input:focus {
  outline: calc(var(--app-stroke-width) * 2) solid var(--gradient-purple-1);
}

.no-search-result {
  padding-block: var(--app-pad);
  height: 100px;
}

.search-result {
  height: 100px;
}

.search-link-container {
  height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  display: grid;
  gap: calc(var(--app-gap) / 2);
  margin-top: calc(var(--app-pad) * 2);
}

.search-link-container::-webkit-scrollbar {
  display: none;
}

.search-link-container .link-button {
  margin-inline: var(--app-pad);
}

.empty {
  background-color: var(--app-color);
  width: 100%;
  height: 100%;
}
