@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

:root {
  --display-font: "Dela Gothic One", sans-serif;
  --app-font: "Poppins", sans-serif;

  --turquoise: #9ef3ca;
  --blue: #1544eb;

  --pink: #fcb8ad;
  --red: #ff2e17;

  --lavender: #dac9ff;
  --indigo: #5200ff;

  --yellow: #f2d022;
  --black: #111111;
  --grey: #efefef;
  --light-purple: #a0b0d9;

  /* GRADIENT COLOR SETTINGS */

  --gradient-lavender-1: #aeb1ee;
  --gradient-lavender-2: #b7b9e9;

  --gradient-yellow-1: #fffdc1;

  --gradient-peach-1: #ff906f;

  --gradient-purple-1: #9b74ff;

  --gradient-turquoise-1: #94ecec;

  --gradient-lavender-3: #eee7f9;

  --gradient-lavender-4: #ece5ff;

  --gradient-1-bg: var(--gradient-lavender-1);
  --gradient-1: linear-gradient(
    45deg,
    /* var(--gradient-lavender-1) 0%,
    var(--gradient-lavender-2) 18%, */
      var(--gradient-yellow-1) 45%,
    var(--gradient-peach-1) 48%,
    var(--gradient-purple-1) 50%,
    var(--gradient-turquoise-1) 53%,
    var(--gradient-yellow-1) 57%,
    var(--gradient-lavender-3) 76%,
    var(--gradient-lavender-4) 100%
  );

  --app-bg: var(--yellow);
  --app-color: var(--black);

  --page-bg: var(--grey);

  --item-bg: var(--grey);
  --item-font-color: var(--app-color);

  --max-width: 1800px;

  --app-pad: 0.2rem;

  --app-gap: 0.5rem;

  --border-radius: 10px;
  --item-pad: calc(var(--app-pad) * 2);

  --app-stroke-width: 1px;

  --svg-stroke-width: var(--app-stroke-width);
  /*
  --item-image-size: 280px; */
  /* --item-height: 500px; */

  --item-image-size: 280px;
  --item-height: 490px;
}

/* Global settings */
body,
header,
nav,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
button,
select,
option,
svg {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 32px;
}

h1,
h2,
h3 {
  text-align: left;
  color: var(--app-color);
  font-family: var(--display-font);
}

h4,
h5,
h5,
p,
a,
li {
  color: var(--app-color);
  font-family: var(--app-font);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  background-color: var(--app-bg);
}

main {
  margin-top: 2.3rem;
  scroll-timeline: --squareTimeline y;
}

.app-page-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.app-hero-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
}

.app-hero-item {
  max-width: var(--max-width);
}

.app-container {
  position: relative;
  margin: 0 var(--app-pad);
}

.gradient-bg {
  padding-bottom: var(--app-pad);
  background-size: 400%;
  background-position: left;

  background-image: var(--gradient-1);

  /* animation: scroll-animation infinite 10s ease-in-out; */

  /* animation-timeline: --squareTimeline; */
  /* animation-duration: 1ms; */

  animation: scroll-animation linear;
  animation-timeline: scroll();
}

@keyframes scroll-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.hero-title {
  font-size: 3rem;
  line-height: normal;
  word-wrap: break-word;
}

@media (min-width: 512px) {
  .hero-title {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 6rem;
    line-height: 5.5rem;
  }
}

.app-header {
  padding-top: calc(var(--app-pad) * 2);
  padding-bottom: calc(var(--app-pad) * 3);
}

.grid-header {
  padding-bottom: calc(var(--app-pad) * 3);
}

.back-button,
.to-button {
  position: relative;
  display: grid;
  grid-template-columns: 30px auto;
  gap: var(--app-gap);
  height: 30px;
  transition: transform ease-in-out 150ms;
}

.back-button {
  padding-top: calc(var(--app-pad) * 2);
  max-width: 100px;
}

.to-button {
  max-width: 230px;
}

.back-button:hover,
.to-button:hover {
  transform: scale(1.05);
}

.back-button p,
.to-button p {
  padding-top: 2px;
}

.rev {
  rotate: 180deg;
}

.link-button,
.nav-button {
  border: var(--app-stroke-width) var(--app-color) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 150ms;
  border-radius: 100px;
}

.link-button {
  height: 80px;
}

@media (min-width: 425px) {
  .link-button {
    height: 120px;
  }
}

.nav-button {
  max-height: 150px;
}

.link-button:hover,
.nav-button:hover {
  transform: scaleY(1.05);
}

@media (min-width: 768px) {
  body {
    --app-pad: 0.5rem;
  }
}

/* SVG */

.arrow {
  position: relative;
}

.logo,
.burger,
.cross,
.arrow {
  width: 30px;
}

.logo-alt {
  height: 30px;
}

.logo:active,
.burger:active,
.cross:active {
  border: var(--app-color) var(--app-stroke-width) solid;
}

.logo-detail,
.burger-detail,
.cross-detail {
  fill: none;
  stroke: var(--app-color);
  stroke-width: var(--svg-stroke-width);
}

.arrow-detail {
  fill: none;
  stroke: var(--app-color);
  stroke-width: var(--svg-stroke-width);
}

.logo-alt-detail {
  fill: none;
  stroke: var(--app-color);
  stroke-width: var(--svg-stroke-width);
  stroke-linecap: round;
  stroke-linejoin: round;
}

@media (prefers-reduced-motion: no-preference) {
  .arrow {
    animation: arrow-slide-in linear;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: 0px;
  }
}

@keyframes arrow-slide-in {
  from {
    left: -500px;
  }

  to {
    left: 0;
  }
}

/* Header */

header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  position: fixed;
  background-color: var(--app-bg);
  border-bottom: var(--app-color) var(--app-stroke-width) solid;
}

nav {
  max-width: var(--max-width);
  margin: 0 auto;
}

.header-buttons-container {
  position: relative;
  z-index: 1000;
  margin: 0 var(--app-pad);
  display: flex;
  justify-content: space-between;
}

.close-button,
.open-button {
  cursor: pointer;
}

.visible {
  display: block;
}

.no-visible {
  display: none;
}

.nav-container {
  margin: 0 var(--app-pad);
  transition: all ease-in-out 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons-container {
  width: 100%;
  display: grid;
  gap: calc(var(--app-gap) / 2);
  min-height: 80dvh;
  padding-bottom: 5rem;
}

.menu-open {
  height: 100dvh;
}

.menu-close {
  height: 0;
  overflow: hidden;
}

.logo:active,
.close-button:active,
.open-button:active,
.back-button:active,
.to-button:active,
.nav-button:active {
  transform: scale(0.95);
}

/* Portfolio */

.portfolio-top-wrapper,
.portfolio-middle-wrapper,
.portfolio-bottom-wrapper {
  border: var(--app-stroke-width) var(--app-color) solid;
  padding: var(--app-pad);
  margin-bottom: var(--app-pad);
}

.portfolio-top-wrapper {
  display: grid;
  min-height: 80dvh;
}

.portfolio-top-wrapper .hero-title {
  margin-top: auto;
}

.portfolio-middle-wrapper {
  margin-top: var(--app-pad);
}

.portfolio-bottom-wrapper {
  margin-bottom: 0;
}

.portfolio-page-top {
  display: flex;
  justify-content: space-between;
}

.portfolio-page-top > :last-child > :first-child,
.portfolio-page-top > :last-child > :last-child {
  padding: 0;
  margin: 0;
  text-align: right;
}

.portfolio-hero-container {
  padding-top: var(--app-pad);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  filter: invert(1);
  mix-blend-mode: difference;
}

@media (min-width: 1024px) {
  .portfolio-hero-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

.portfolio-hero-item-1,
.portfolio-hero-item-2 {
  border: var(--app-stroke-width) var(--app-color) solid;
}

.portfolio-hero-item-1 {
  padding: var(--app-pad);
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: none;
}

@media (max-width: 424px) {
  .portfolio-hero-item-1 > :last-child h1 {
    font-size: 2rem;
  }
}

.portfolio-presentation {
  display: flex;
  justify-content: space-between;
}

.portfolio-presentation > :last-child {
  max-width: 200px;
}

.portfolio-presentation > :last-child p {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

.portfolio-hero-container > :last-child {
  padding: var(--app-pad);
}

@media (max-width: 1023px) {
  .portfolio-hero-item-1 {
    min-height: 80dvh;
    border-right: var(--app-color) var(--app-stroke-width) solid;
    border-bottom: none;
  }
}

.color-set-1 {
  --item-bg: var(--turquoise);
  --page-bg: var(--turquoise);
}

.color-set-2 {
  --item-bg: var(--lavender);
  --page-bg: var(--lavender);
}

.color-set-3 {
  --item-bg: var(--pink);
  --page-bg: var(--pink);
}

.portfolio-item-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  gap: var(--app-gap);
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: var(--app-pad);
}

.portfolio-item-container::-webkit-scrollbar {
  display: none;
}

.portfolio-item {
  position: relative;
  background-color: var(--item-bg);
  border-radius: var(--border-radius);
  padding: var(--item-pad);
  transition: all ease-in-out 150ms;
  min-height: var(--item-height);
}

.portfolio-item:hover {
  transform: scale(1.01);
}

.item-top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--app-pad) * 2);
}

.item-top-container h3 {
  color: var(--item-font-color);
}

.item-image-container {
  overflow: hidden;
  width: var(--item-image-size);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.item-image-container:hover {
  border-radius: 0;
}

.item-image {
  height: var(--item-image-size);
}

.item-top-container h3 {
  padding-bottom: var(--item-pad);
}

.item-middle-container {
  display: grid;
  grid-template-rows: auto auto;
}

.item-middle-container h1,
p {
  color: var(--item-font-color);
  padding-bottom: calc(var(--item-pad) * 2);
}

.item-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 800;
  padding: var(--item-pad) var(--item-pad) calc(var(--item-pad) * 3)
    var(--item-pad);
}

.item-bottom-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--item-pad) var(--item-pad) calc(var(--item-pad) * 3)
    var(--item-pad);
}

/* Portfolio Page */

.projects-page-bottom-container {
  filter: invert(1);
  mix-blend-mode: difference;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

@media (min-width: 425px) {
  .projects-page-bottom-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.projects-page-bottom-container > :first-child {
  padding: var(--app-pad);
  border: var(--app-color) var(--app-stroke-width) solid;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.projects-page-bottom-container > :last-child {
  border: var(--app-color) var(--app-stroke-width) solid;
  padding: var(--app-pad);
}

@media (max-width: 424px) {
  .projects-page-bottom-container > :first-child {
    border-right: var(--app-color) var(--app-stroke-width) solid;
    border-bottom: none;
  }
}

.projects-page-bottom-container > :last-child p {
  padding: 0;
}

.portfolio-page {
  background-color: var(--app-bg);
  padding-top: var(--app-pad);
  padding-bottom: var(--app-pad);
}

.gallery-container {
  background-color: var(--app-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc(var(--app-pad) * 10);
}

.gallery-container > :first-child {
  margin-top: calc(var(--app-pad) * 10);
}

.gallery-container > :last-child {
  margin-bottom: calc(var(--app-pad) * 10);
}

.link-button-container {
  display: grid;
  gap: var(--app-pad);
}

/* About */

.about-hero-container {
  filter: invert(1);
  mix-blend-mode: difference;
  padding-top: var(--app-pad);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
}

.about-hero-item-1,
.about-hero-container > :last-child {
  border: var(--app-stroke-width) var(--app-color) solid;
}

.about-hero-item-1 {
  padding: var(--app-pad);
  display: grid;
}

/* .about-hero-item-1 h3 {
  margin-left: auto;
} */

.about-hero-item-1 h1 {
  margin-top: auto;
  padding-bottom: calc(var(--app-pad) * 2);
}

@media (max-width: 424px) {
  .about-hero-item-1 h1 {
    font-size: 2rem;
  }
}

.about-hero-item-1 > :last-child {
  display: none;
}

.about-presentation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-presentation > :last-child {
  max-width: 150px;
}

.about-presentation > :last-child p {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

@media (max-width: 1023px) {
  .about-hero-item-1 {
    min-height: 80dvh;
    border-bottom: none;
  }
}

@media (min-width: 1024px) {
  .about-hero-container {
    min-height: 80dvh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .about-hero-container > :first-child {
    border-right: none;
  }
}

.education-container {
  filter: invert(1);
  mix-blend-mode: difference;
  padding-block: var(--app-pad);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media (min-width: 836px) {
  .education-container {
    min-height: 80dvh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.about-page-bottom-container {
  border: var(--app-color) var(--app-stroke-width) solid;
  padding: var(--app-pad);
}

.about-page-bottom-container > :last-child {
  display: grid;
  gap: var(--app-gap);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (min-width: 425px) {
  .about-page-bottom-container > :last-child {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

/* Education items */

.education-item {
  min-height: 40dvh;
  display: grid;
  padding: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
}

.education-item:first-of-type {
  background-color: #111111;
}

.education-item:first-of-type h1,
.education-item:first-of-type p {
  color: #ffffff;
}

.education-middle-container {
}

.education-bottom-container {
  margin-top: auto;
}

.education-bottom-container > :first-child {
  font-weight: 900;
}

@media (max-width: 835px) {
  .education-item {
    border-top: none;
  }
}

@media (min-width: 836px) {
  .education-item {
    border-right: none;
    border-bottom: none;
  }

  .education-item:nth-child(2),
  .education-item:last-of-type {
    border-right: var(--app-stroke-width) var(--app-color) solid;
  }

  .education-item:nth-child(3),
  .education-item:last-of-type {
    border-bottom: var(--app-stroke-width) var(--app-color) solid;
  }
}

/* Home */

.home-hero-container {
  padding-top: var(--app-pad);
  padding-bottom: var(--app-pad);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  filter: invert(1);
  mix-blend-mode: difference;
}

.hero-item-1,
.hero-item-2 {
  border: var(--app-stroke-width) var(--app-color) solid;
}

.hero-item-1 {
  padding: var(--app-pad);
  display: grid;
  grid-template-rows: auto auto auto 4fr;
}

.hero-item-1 div {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: auto;
  width: 100%;
}

@media (min-width: 425px) {
  .hero-item-1 div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 767px) {
  .hero-item-1 div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: auto;
    width: 100%;
  }
}

.hero-item-1-text {
  max-width: 700px;
}

.hero-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-image-container {
  max-width: 450px;
  overflow: hidden;
}

.hero-image {
}

@media (max-width: 767px) {
  .hero-item-1 {
    min-height: 50dvh;
    border-bottom: none;
  }
}

@media (min-width: 768px) {
  .home-hero-container {
    min-height: 80dvh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding-top: var(--app-pad);
  }

  .hero-item-1 {
    border-right: none;
  }
}

.home-item-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  gap: 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: var(--app-pad) 0;
}

.home-item-container::-webkit-scrollbar {
  display: none;
}

.present-portfolio-item {
  filter: invert(1);
  mix-blend-mode: difference;
  position: relative;
  background-color: var(--app-color);
  border-radius: var(--border-radius);
  padding: var(--item-pad);
  transition: all ease-in-out 150ms;
  min-height: var(--item-height);
  max-width: 280px;
}

.present-portfolio-item .item-top-container p,
.present-portfolio-item .item-top-container h3,
.present-portfolio-item .item-middle-container h1,
.present-portfolio-item .item-button-container .to-button p,
.present-portfolio-item .item-bottom-container h3 {
  color: #ffffff;
}

.present-portfolio-item .item-button-container .to-button .arrow-detail {
  stroke: #ffffff;
}

.about-section {
  padding: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
  border-radius: var(--border-radius);
  filter: invert(1);
  mix-blend-mode: difference;
}

.about-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 556px;
}

.about-section div {
  display: flex;
  justify-content: space-between;
}

.illustration-section {
  border: var(--app-stroke-width) var(--app-color) solid;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  border-radius: var(--border-radius);
  max-height: 502.78px;
  overflow: hidden;
  filter: invert(1);
  mix-blend-mode: difference;
}

.illustration-section .to-button {
  border: var(--app-stroke-width) var(--app-color) solid;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--app-pad);
  background-color: #ffffff;
  border-radius: var(--border-radius);
}

/* Technology */

.technology-hero-container {
  padding: var(--app-pad);
  min-height: 80dvh;
  display: grid;
  border: var(--app-stroke-width) var(--app-color) solid;
}

.technology-hero-container .hero-title {
  margin-top: auto;
}

.technology-select {
}

.technology-option {
}

.technology-container {
  padding-block: var(--app-pad);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--app-pad);
}

.technology-item {
  padding: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
}

.technology-category {
  font-weight: 900;
}

.technology-logo-container {
}

.technology-logo {
}

.technology-header {
}

.technology-description {
}

/* Illustrations */

.illustrations-hero-container {
  padding-top: var(--app-pad);
  padding-bottom: var(--app-pad);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  min-height: 80dvh;
}

@media (min-width: 968px) {
  .illustrations-hero-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

.illustrations-hero-item-1,
.illustrations-hero-item-2 {
  padding: var(--app-pad);
  border: solid var(--app-color) var(--app-stroke-width);
}

.illustrations-hero-item-1 {
  display: grid;
  border-right: none;
}

.illustrations-hero-item-1 > :last-child {
  display: none;
}

.illustrations-hero-item-1 h1 {
  margin-top: auto;
}

/* @media (max-width: 396px) {
  .illustrations-hero-item-1 h1 {
    font-size: 2rem;
  }
} */

.illustrations-presentation {
  display: flex;
  justify-content: space-between;
}

.illustrations-presentation > :last-child {
  max-width: 250px;
}

.illustrations-presentation > :last-child p {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

.illustrations-hero-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 967px) {
  .illustrations-hero-item-1 {
    min-height: 80dvh;
    border-bottom: none;
    border-right: solid var(--app-color) var(--app-stroke-width);
  }
}

.gallery-image {
  margin: var(--app-pad);
  background-color: #ffffff;
}

.illustrations-page-bottom-container {
  margin-top: var(--app-pad);
  margin-bottom: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (min-width: 425px) {
  .illustrations-page-bottom-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.illustrations-page-bottom-container > :first-child {
  padding: var(--app-pad);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--app-stroke-width) var(--app-color) solid;
  font-weight: 900;
}

.illustrations-page-bottom-container > :last-child {
  margin: var(--app-pad);
}

@media (max-width: 424px) {
  .illustrations-page-bottom-container > :first-child {
    border-right: none;
    border-bottom: var(--app-color) var(--app-stroke-width) solid;
  }
}

/* Contact */

.contact-hero-container {
  padding-top: var(--app-pad);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  filter: invert(1);
  mix-blend-mode: difference;
}

@media (min-width: 632px) {
  .contact-hero-container {
    min-height: 80dvh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

.contact-hero-item-1,
.contact-hero-item-2 {
  padding: var(--app-pad);
  border: var(--app-stroke-width) var(--app-color) solid;
}

.contact-hero-item-1 {
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: none;
}

.contact-presentation {
  display: flex;
  justify-content: space-between;
}

.contact-presentation > :last-child {
  max-width: 150px;
}

.contact-presentation > :last-child p {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

@media (max-width: 631px) {
  .contact-hero-item-1 {
    min-height: 80dvh;
    border-bottom: none;
    border-right: var(--app-stroke-width) var(--app-color) solid;
  }
}

.contact-hero-container > :last-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.contact-hero-container > :last-child > * {
  width: 100%;
}

/* Footer */

footer {
  border-top: var(--app-color) var(--app-stroke-width) solid;
}

.contact-container {
  padding: var(--app-pad);
  display: grid;
  gap: calc(var(--app-pad) * 10);
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}

@media (min-width: 500px) {
  .contact-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

@media (min-width: 1170px) {
  .contact-container {
    display: flex;
    justify-content: space-between;
  }
}

.year-title {
  padding-top: 1rem;
  position: absolute;
  right: 0;
  /* margin: var(--app-pad); */
}

.year-title span {
  font-weight: 900;
}

/* 404 */

.notfound-hero-container {
  padding: var(--app-pad);
  padding: var(--app-pad);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90dvh;
}

.notfound-hero-container div h1 {
  text-align: center;
}

.notfound-hero-container > :last-child {
  width: 100%;
  max-width: 450px;
}
